<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Movies</h1>
    <h3 class="typed-js"></h3>
  </div>
</div>

<div class="container py-5">

  <div class="row">

    <% @movies.each do |item| %>
      <div class="co-12 colsm-6 col-md-4">

        <%= link_to list_path(item), class: 'text-decoration-none' do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('list_background.jpg') %>)">
            <%= item.title %>
          </div>
          <br>
        <% end %>
      </div>
    <% end %>

  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <hr>
      <%= link_to 'Back to list', '/lists', class: 'btn btn-flat' %>
    </div>
  </div>
</div>
